## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats

Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [31]:
samples = np.random.normal(100, 15, 1000)  # mu, sigma = 0, 0.1 # mean and standard deviation
samples

array([ 86.79899896, 110.4460147 ,  87.89310758, 104.55604269,
        99.25645679,  92.99927418,  94.72214438,  74.60947062,
       121.07955702,  84.73848177, 105.28170187, 106.33011858,
        92.20574021,  92.82271393,  94.6411572 , 110.64422739,
       100.62339312, 110.23083203,  79.10496649,  72.76888647,
        99.53672171,  74.67971011,  96.03517188, 106.7066129 ,
       114.69721677, 104.14574489, 103.00071949, 110.11721693,
       125.67981915, 115.2423908 , 109.88992765, 112.49033389,
       111.57196165, 101.20823147, 120.68992609,  77.60151507,
        85.98445774, 111.76623689, 108.85075412, 118.31418409,
       113.16584378, 109.91343372,  73.66408643, 134.27278725,
       100.69889974, 106.31360648,  74.23751889, 114.02501325,
       114.78808938,  84.42241139, 118.74778451, 114.21005111,
       102.08368185,  83.76538717,  76.64780302, 104.71611583,
       112.57950376,  97.17814499,  80.30255595,  75.60157188,
        99.85561132, 121.73520096, 100.24762453, 110.71148759,
       115.37714064,  80.56755198, 121.03649224,  97.45103531,
        97.7120224 ,  84.65116065,  69.80473434,  87.55091695,
        86.78665368,  99.70017059,  83.08955161,  98.01153825,
        92.41613099, 115.81032794,  98.29009405, 131.78493173,
       105.57128579, 102.21380296,  85.5346155 ,  91.19832607,
        77.67717776, 101.75328803, 122.83774623,  80.64570317,
       102.78403713, 111.60379252,  91.72907829,  76.76839773,
       124.87020805, 119.1929817 , 129.48995965, 123.2516762 ,
       123.19733328, 108.68104151,  98.66362536, 128.82764656,
        96.67774685, 123.99268081, 121.58399005,  76.92776304,
        99.55344871, 129.0856872 , 100.96812935, 114.20537579,
       115.48714365, 102.2173247 ,  80.07096944, 115.17126323,
        56.09217702, 137.07968056, 102.16551241,  85.33817572,
       101.04283515,  99.06257141, 107.85280058, 108.48990927,
        65.55745431,  94.9029339 ,  97.1238932 , 105.25104984,
        94.50228092, 104.57781702,  76.30836975,  98.89759843,
        96.77253248,  79.61570318,  91.06241448,  91.71187693,
        92.93594177,  94.9323053 , 115.30965778,  68.85530776,
       110.85154862,  94.73063684,  66.91412051,  99.278342  ,
       105.30479869, 104.00362145,  90.05714383,  90.44673962,
        78.38370027,  73.88197112,  82.89060807, 103.13674965,
        94.63223131,  83.04081191,  94.2285056 , 113.02532103,
        92.31252298,  67.21117491,  88.7409248 ,  99.40753616,
        86.51782303, 117.58944004,  97.41669616, 109.80534863,
        89.10421019,  97.89562975, 121.83758801, 100.90890676,
        76.04517767,  96.64390894,  98.68802171,  97.42711049,
        66.64085694, 106.5396653 ,  84.16669831,  92.53462081,
       133.81286957, 106.62577587,  96.34220638, 116.36474279,
        87.25332489,  64.58467076,  98.32907354,  92.03239915,
        97.41018852, 108.02321746,  95.40890768, 106.6901263 ,
        91.76209385,  97.56589924, 107.30051949, 126.80670274,
        71.43360482,  67.1670127 , 117.59897523,  92.77945975,
        77.69759069, 107.41143126,  89.77085706,  64.56272076,
        83.24756238, 118.98799727, 106.54285104,  93.53709349,
       104.49516443,  86.25117625, 112.79145185, 121.98478428,
       102.02686666,  96.78881995,  81.59791116, 127.33453625,
       105.90725337, 124.56172439,  95.83874675,  98.94798923,
       138.15278031, 118.55986198, 109.40833283, 126.11802695,
        98.19570172, 107.12315303, 102.20369173,  89.78576782,
       103.60018761,  98.18290533, 120.96809053,  98.56153992,
        83.20680645,  88.40554235,  96.82666897, 104.22552131,
       113.89426004, 116.87263253,  97.63958383,  70.35359684,
        76.0257019 ,  62.99753186, 113.71513515,  98.19278544,
        84.16957112,  98.65578835, 109.91945772,  73.78085739,
       105.51043756,  80.26572857,  99.53979299,  94.94102859,
       115.0225332 , 121.75117942,  76.6726322 ,  83.25010791,
        79.68650613, 108.68177417,  93.32902446, 104.81994343,
       101.7650096 ,  81.77039886, 115.71530497, 128.20067398,
        76.12649117, 114.454256  , 113.63577177,  97.30772282,
        94.31637247,  96.12850023, 109.51976648, 120.51219367,
        76.88033218, 101.75709156, 113.47791929,  99.31432322,
       116.64308491,  95.45412432, 105.58088489, 146.68267013,
       108.96128355,  81.05037288,  88.65796111, 108.86913397,
        81.13043483, 102.34557396, 107.35908   ,  90.39813928,
        98.72943989, 100.79977576,  98.38508494,  83.16196991,
       110.37697634,  84.40094371, 110.57102689,  82.94025521,
        90.98728789, 128.79028373, 123.49079037, 103.11128194,
        93.21063305,  78.10539904, 103.61075428,  83.72024008,
       102.97749562, 118.58866776, 111.05417169,  74.42178355,
        82.84391902, 101.57795802,  80.95180872, 105.21948072,
       100.39346479,  87.71494189,  85.68344235, 103.82109363,
        93.03761679, 112.180284  , 119.26129908,  93.61525505,
        79.57885156,  87.48385576, 102.51440996, 121.57994743,
        81.52326246, 116.50823016,  87.85550771,  93.95659908,
        71.02755055, 113.08743541, 107.73254293, 112.92666113,
        94.5244258 , 114.35906877, 105.29062368,  97.18804528,
       103.30424778, 113.88766978,  86.33628203, 115.11172678,
        87.52965155,  98.41213927,  79.95513016, 107.03485339,
       110.22463819, 101.64892787,  92.24248809, 105.53701484,
       120.14117439,  88.5759316 , 108.64023264,  73.87041997,
       103.2743115 ,  85.37196297, 119.787588  , 114.23137985,
        87.25298682, 101.13880799, 109.64578503,  87.97260775,
       105.67318613, 118.59874031, 109.11418193, 104.44188381,
       106.27865878,  82.74756342, 103.5733246 , 104.35040176,
        88.08783581, 106.7317079 , 113.13987849, 117.35270527,
       143.92136002,  89.60727063, 103.17685906, 110.35439788,
        86.13830113,  96.19072202,  94.12310825,  88.07793134,
       114.81393074, 110.86190587, 126.57863652,  63.85883472,
        76.92902531,  99.6103174 ,  92.43244202, 107.97065552,
       101.92729694,  93.68059603,  61.10376904,  98.40667796,
       138.72072656,  99.07591292, 109.64018784, 102.95603627,
        95.93272364,  81.03601455,  70.46930183, 103.15556562,
       101.21490663, 122.28147719, 104.67265399, 108.93022743,
        92.4385307 ,  93.57807195, 104.36150058,  98.46052692,
       114.6408458 , 134.66327938,  79.87494608, 126.85249933,
       100.22867316,  95.83762067,  97.70476469, 100.05137159,
        94.2414957 ,  80.81213665,  99.62031827,  69.93023031,
        85.8425164 ,  79.20344896, 115.18982081,  95.02689687,
       106.31782246, 113.24005428,  95.01167426, 120.97628072,
        53.17100685, 118.531054  , 103.04472032,  91.41052147,
       108.93068403,  58.51921244,  98.27506132,  98.34855286,
       108.8322375 ,  93.92120874,  81.62599575, 140.85809176,
       138.49576664, 114.84392373,  79.1581109 ,  98.17718807,
       113.22716954, 123.84008651,  79.76469021, 103.53843207,
        83.21348579,  88.46401013, 114.36752203, 106.3253346 ,
       114.62358372,  99.94381149,  65.93497368, 103.90868847,
        96.84398726, 110.63396116, 116.38318279,  65.52191145,
       109.56229549,  90.74447961,  97.63604878, 113.09336153,
       126.4196307 , 112.26274098,  94.01666362, 108.21398273,
        73.39937956, 109.46209659,  83.89968898, 139.79085896,
       111.09680061,  95.58427134,  99.60184558,  92.55173807,
        89.52861144,  82.85552033, 117.13964057, 108.62559071,
        77.69116335,  85.68093125, 112.06419746,  96.25525597,
        94.91988247, 119.16319822,  86.33897531, 108.80260823,
       115.81603535,  99.60704641, 105.74933595,  60.56989683,
       101.58808132, 133.51400897, 106.68711033, 113.32790154,
        91.60103062, 123.64484476,  93.42976142, 102.39030529,
        76.38285063,  89.40283145, 105.50326981,  96.77775394,
       100.73907086, 112.70769787, 129.87939244, 111.68797494,
       109.71234377,  74.22462692, 114.97237973,  90.79747067,
        99.7252035 ,  99.30275178,  71.46938768,  99.93960289,
        82.99681396, 121.45965891, 100.29958258, 125.09088109,
        84.36872334, 137.28489098, 100.3225316 ,  98.69173538,
        91.9110509 , 113.4959206 ,  95.07893242, 106.60313132,
        85.96346412,  87.49120535, 106.49377033,  98.82773107,
        89.88095379, 109.87508249, 107.12202297, 101.37137719,
        91.8906955 , 116.87444197, 115.53284163, 102.8824141 ,
       105.48345356, 117.65017452,  95.86285268, 114.98334825,
        90.35112366,  99.9301731 , 111.55486532,  95.97332334,
       106.96085423, 116.00647892,  99.75898951, 106.32169973,
       101.39234128, 102.52190872,  96.51116659,  88.02510275,
       111.55705077,  92.36070139, 113.79443854, 134.42483749,
        84.75918751, 100.92168406, 105.21829296, 100.36338117,
        96.63693033,  97.90232316, 114.07690007,  90.56353396,
       104.76198778, 106.59704757, 111.4204384 ,  89.54099973,
       106.3471232 , 119.68818339, 131.20035667, 114.85275258,
       111.61961331,  89.4355493 , 118.3377099 , 102.50120511,
        84.71065382,  91.09122574,  52.30179953, 104.93397679,
        90.38981452, 113.0912065 , 107.61281674,  85.69320319,
       103.99455664,  89.13431899, 107.70203942, 111.69364231,
        88.50033957, 122.7137649 , 110.49540469, 100.53346692,
        98.57043901, 108.50284053, 108.24382847,  96.94318094,
        83.03609779, 128.2034582 , 129.37813435,  93.33360633,
        88.49788715, 114.15775584,  82.0897518 , 107.86894102,
        65.67589927, 120.04632147,  69.05732687, 109.09231965,
       101.10321515,  92.39914268, 100.96257625,  89.06557597,
        86.70177647,  97.91091239, 118.70006802,  91.33863906,
        88.65552547,  83.37728597,  89.54212942, 111.91812344,
        90.86199157,  78.02081342,  88.18732729, 120.35570022,
       107.84506473, 121.33997629, 103.23780786,  90.32793616,
        98.71649154, 111.53612951,  84.78381377, 118.02038373,
       113.35088702,  84.44954218,  88.82562661,  91.96057976,
        96.43836123,  95.71219767,  65.57327764, 125.60585447,
        99.11843886,  89.46979756, 120.42196085,  67.1037647 ,
       106.64560877, 101.59270537,  94.13689574,  89.69212912,
       100.9762744 ,  87.61329785, 104.28096213,  79.64213439,
       105.09712956, 120.83276059,  88.69835613, 100.88457238,
       118.2699928 ,  85.26380622, 110.84709686, 122.41516619,
       103.08300842,  89.06229745, 113.50318704,  88.88036126,
       100.9929469 , 102.06414191, 109.33121606,  87.51058478,
        67.80681023,  44.02769544,  62.06721036, 122.55036449,
        82.95317978, 100.46703755,  86.91568409, 123.87355199,
       100.34896371, 120.88242919, 106.12315474, 100.94610134,
       115.00259832, 110.65407959,  85.83494112, 120.55859271,
        71.65613534, 101.29675913,  99.11627944, 107.93803624,
        90.18865975, 118.6875821 ,  93.99310311,  86.09668997,
        79.65386895, 109.46154653, 120.58856601,  86.85331364,
       100.37134514,  93.58545155, 107.65096307, 118.76856233,
        85.06892544,  72.58120224, 135.25049223,  88.49623506,
       102.30631332, 125.91501885,  95.60133225, 109.31941122,
       109.74894952,  79.34577661,  92.82946194,  88.25432007,
        97.43605401, 106.89740649, 106.46671341,  73.51907023,
       125.06073489, 106.28938627, 100.94400548,  62.67043914,
       107.45935895,  66.26792614,  89.55866174,  89.66322367,
       105.20210527, 103.09734665,  83.09230614, 122.56950913,
        88.57888725, 110.49956659, 106.06074187,  96.43635643,
       104.94169564,  99.76570928, 111.64340486,  87.89382814,
        89.81028323,  97.40482714, 127.7159076 , 104.67829738,
        92.23167106, 106.72988926, 115.18465488,  99.19845071,
       111.77499234,  94.17803677,  82.07000103,  96.0884509 ,
        96.424248  , 118.61858005,  77.49096809,  87.24582362,
        92.48473738,  89.26821928,  91.18152101, 111.45322402,
        96.14542448,  74.39061715,  97.67105294,  94.219221  ,
        88.82689209,  76.35279445,  95.7314769 ,  91.1857265 ,
       103.57791354,  59.62161542, 100.10025842,  84.85284709,
        95.69828487,  97.12797672, 105.80855866, 104.26002151,
        83.54009905, 105.96274172,  76.80444315,  89.51870285,
        92.33734896,  97.41001661, 122.32660708,  81.63251463,
       101.9390815 , 105.96260563,  84.4844401 , 110.0605296 ,
        90.86093987, 104.27068307, 127.81794831,  85.02404   ,
       103.38486456, 132.12619031, 110.83638117,  93.47187233,
       113.74457596,  90.89420213, 107.47050869,  95.86731268,
       102.03208578, 132.22482483,  77.31618997,  96.53451279,
        94.86333916,  72.47964414, 110.27794214,  77.86027154,
        83.30770375,  97.49888247,  86.4750845 , 119.0224981 ,
       112.45395337,  77.48978089,  81.23131273, 111.75107139,
       105.87931472,  91.8535688 ,  85.99442915,  79.30420499,
        87.40948373,  76.04779543, 111.63871667,  90.3406888 ,
        86.2030163 , 119.25958968,  90.78857537,  77.20545889,
       105.11659161, 108.89506987, 118.45820786, 129.0826822 ,
        91.57386336,  86.67829492,  95.69977219,  98.30412558,
       106.35678449, 112.42533684,  95.45238725, 110.0048635 ,
        97.71595464,  93.04681094,  82.07524538,  82.67494302,
       118.14502706,  87.63852078, 103.19479512, 101.95172362,
       105.96190327, 120.84652557, 115.51969363,  99.29392864,
        91.50950264, 108.38541519,  90.24750343,  89.34220632,
       120.96697372, 102.36376635, 111.77119664, 114.28823629,
        93.95138704,  98.62667342, 108.46036138,  87.03000699,
        75.18180299, 121.33144829, 108.29403676, 102.63412538,
        83.73538573, 103.87036142, 107.33904574, 115.18252082,
       107.37747871,  97.31197715, 108.7848636 ,  94.62953127,
       114.77712381, 111.43479505, 100.32530356,  99.31717433,
       111.72285537, 111.03659692, 103.52140298, 116.12695915,
       108.94226815, 119.80756404,  92.22594958, 109.56782138,
        82.22049182,  89.03614074, 105.94314943, 115.73200223,
        87.27287104,  93.92351454,  89.89957884,  86.10713953,
        99.25442044,  79.8110323 , 130.59245922, 101.2356753 ,
       107.17238528, 102.26881251,  90.47288595,  92.14014558,
       104.69757517,  95.40561077, 107.88978786,  86.44966483,
       110.60131272,  76.62223611,  79.92243167, 106.91134751,
       103.04842184, 104.50259628, 104.37291773,  80.55148459,
        90.40186012, 104.98105526, 115.4583241 ,  81.51378197,
       113.94518099,  88.67843109,  87.64250336, 115.1829379 ,
       103.97995062, 109.71663738,  98.91006389, 118.30979749,
        75.99506044, 117.0593413 ,  96.11804653,  82.56568353,
        72.05838005, 105.32712252,  98.81607483,  77.57646396,
        98.79064101, 104.71215801, 111.40177565, 127.89427764,
       130.97820343, 116.26159473, 138.0449699 ,  68.23057862,
       113.58679462,  98.04571406, 100.42877461, 105.10844672,
       109.40504417,  85.6003627 , 108.941479  ,  76.23031314,
       111.70141539, 113.6840252 ,  96.75983946,  90.8188694 ,
        79.30744549, 115.77880643,  89.96821116,  99.57756158,
        86.93277125, 112.45221746, 108.56809182,  86.6905403 ,
       136.02825406,  83.04318206, 106.40203862, 125.17696399,
        88.15491106, 115.53269449, 106.24806258,  97.41122268,
       124.07745119, 116.53863241,  75.69985637,  84.85017717,
        95.97900746, 102.26460634, 105.83658321, 121.74157965,
        98.54206055, 107.02542197, 110.95963906,  93.75568822,
       110.62173317, 117.58998928, 101.80105947,  79.49643153,
       106.32152882,  91.70232608, 116.7315658 , 120.89399308,
       117.4492491 , 118.92824329,  93.57219925,  96.70928695,
        92.95117859,  81.14693451,  94.78341173,  98.58238623,
       117.75251696, 108.89497327, 103.34530574, 106.73609001,
       110.30324933, 112.07964455,  86.80501486,  94.48254904])

mu, sigma = 0, 0.1 # mean and standard deviationCompute the **mean**, **median**, and **mode**

In [34]:
mean = np.mean(samples)
print(mean)
median = np.median(samples)
print(median)
mode = stats.mode(samples)
print(mode)

99.92623122054934
100.3110570892002
ModeResult(mode=array([44.02769544]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [42]:
samples_pd = pd.Series(samples)

In [44]:
min = samples_pd.min()
print(min)
max = samples_pd.max()
print(max)
q1 = samples_pd.quantile(.25)
print(q1)
q3 = samples_pd.quantile(.75)
print(q3)
iqr = q3-q1
print(iqr)

44.027695442107444
146.6826701310997
89.50647653074716
110.45836219673744
20.951885665990275

Compute the **variance** and **standard deviation**

In [45]:
variance = samples_pd.var()
print(variance)
std_dev = samples_pd.std()
print(std_dev)

237.47563353741828
15.410244434707007

Compute the **skewness** and **kurtosis**

In [46]:
skewness = samples_pd.skew()
print(skewness)
kurtosis = samples_pd.kurtosis()
print(kurtosis)

-0.11809672199056959
0.07546700673003093

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [24]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [22]:
y = np.array([1,15,2,8,5,9,22,15,9,13])
y

array([ 1, 15,  2,  8,  5,  9, 22, 15,  9, 13])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [27]:
r = np.corrcoef(x,y)
r

array([[1.        , 0.50055752],
       [0.50055752, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [5]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [6]:
r = stats.pearsonr(x, y)
r

(0.7586402890911869, 0.010964341301680832)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [54]:
rho = stats.spearmanr(x, y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [55]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [56]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [66]:
tips.describe(include="all")

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [67]:
tips.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [72]:
a = tips[["total_bill","tip"]]
a
a.corr(method="pearson")

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [73]:
b = tips[["total_bill","size"]]
b
b.corr(method="pearson")

            total_bill      size
total_bill    1.000000  0.598315
size          0.598315  1.000000

In [81]:
c = tips[["tip","size"]]
c
c.corr(method="pearson")

           tip      size
tip   1.000000  0.489299
size  0.489299  1.000000