# PART- 2 `( Handling Missing Values )`

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats.mstats import winsorize

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

In [2]:
df = pd.read_csv("clean_scout.csv")  # eğer bir önceki sayfada index= false yapmasaydık burada index_col=false ilave etmeliydik. yoksa bir ilave sütunumuz daha olurdu.

In [3]:
df.shape

(15919, 33)

In [4]:
df.head(3).T

,0,1,2
make_model,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.000,80000.000,83450.000
Type,Used,Used,Used
Warranty,NaN,NaN,NaN
Cylinders,3.000,4.000,NaN
Fuel,Diesel,Benzine,Diesel
Gears,NaN,7.000,NaN
Comfort_Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid..."
Entertainment_Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer"
Extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control"
Safety_Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D..."
age,3.000,2.000,3.000
Previous_Owners,2.000,NaN,1.000
hp_kW,66.000,141.000,85.000
Inspection_new,Yes,NaN,NaN
Body_Color,Black,Red,Black
Paint_Type,Metallic,NaN,Metallic
Upholstery_type,Cloth,Cloth,Cloth
Upholstery_color,Black,Grey,Black
Nr_of_Doors,5.000,3.000,4.000
Nr_of_Seats,5.000,4.000,4.000
Gearing_Type,Automatic,Automatic,Automatic
Displacement_cc,1422.000,1798.000,1598.000
Weight_kg,1220.000,1255.000,NaN
Drive_chain,front,front,front
cons_comb,3.800,5.600,3.800
cons_city,4.300,7.100,4.400
cons_country,3.500,4.700,3.400
CO2_Emission,99.000,129.000,99.000
Emission_Class,Euro 6,Euro 6,Euro 6

In [ ]:
# sütunları nasıl dolduracağımızın kararını vermemiz gerekir. Mesela make_model, body_type, km, registration ilk başta doldurmam gereken sütunlar olarak değerlendirilebilir.

In [5]:
df.isnull().sum()/df.shape[0]*100

make_model             0.000
body_type              0.377
price                  0.000
vat                   28.350
km                     6.433
Type                   0.013
Warranty              69.514
Cylinders             35.681
Fuel                   0.000
Gears                 29.600
Comfort_Convenience    5.779
Entertainment_Media    8.631
Extras                18.607
Safety_Security        6.169
age                   10.032
Previous_Owners       41.711
hp_kW                  0.553
Inspection_new        75.300
Body_Color             3.750
Paint_Type            36.259
Upholstery_type       30.599
Upholstery_color      31.899
Nr_of_Doors            1.332
Nr_of_Seats            6.137
Gearing_Type           0.000
Displacement_cc        3.116
Weight_kg             43.809
Drive_chain           43.081
cons_comb             12.771
cons_city             15.302
cons_country          14.926
CO2_Emission          15.302
Emission_Class        22.790
dtype: float64

In [6]:
# missing value içeren sütunları bize getiren func.

miss_val = []

[miss_val.append(i) for i in df.columns if any(df[i].isnull())]

miss_val

['body_type',
 'vat',
 'km',
 'Type',
 'Warranty',
 'Cylinders',
 'Gears',
 'Comfort_Convenience',
 'Entertainment_Media',
 'Extras',
 'Safety_Security',
 'age',
 'Previous_Owners',
 'hp_kW',
 'Inspection_new',
 'Body_Color',
 'Paint_Type',
 'Upholstery_type',
 'Upholstery_color',
 'Nr_of_Doors',
 'Nr_of_Seats',
 'Displacement_cc',
 'Weight_kg',
 'Drive_chain',
 'cons_comb',
 'cons_city',
 'cons_country',
 'CO2_Emission',
 'Emission_Class']

In [7]:
# function for first looking to the columns

def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

## functions to fill the missing values

In [ ]:
def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
def fill(df, group_col1, group_col2, col_name, method): # method can be "mode" or "median" or "ffill"
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
                
    elif method == "median":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].median()).fillna(df[cond1][col_name].median()).fillna(df[col_name].median())
                
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

## Let's examine and fill the missing values of all the columns/features one by one

## age

In [8]:
first_looking("age")

column name    :  age
--------------------------------
per_of_nulls   :  % 10.03
num_of_nulls   :  1597
num_of_uniques :  4
--------------------------------
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64

In [9]:
df['age'].fillna('-', inplace=True) # nan değerlerin describe alamadığımdan dolayı - ile doldurdum.

In [10]:
df["age"].value_counts(dropna=False)

1.0    4522
3.0    3674
2.0    3273
0.0    2853
-      1597
Name: age, dtype: int64

In [11]:
df.groupby("age").km.describe()  # burada min , max ve mean değerlerine baktım.

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
0.0,2706.000,2085.355,5365.881,1.000,10.000,50.000,3000.000,127022.000
1.0,4484.000,18035.239,11052.524,1.000,9990.000,17872.000,25078.500,136000.000
2.0,3272.000,41754.941,28295.748,1.000,21541.750,34752.000,54805.500,317000.000
3.0,3674.000,77442.521,39170.143,10.000,48000.000,72914.500,99950.000,291800.000
-,759.000,934.497,7416.244,0.000,5.000,10.000,10.000,89982.000

In [12]:
df[df["age"]=="-"]["km"].value_counts(dropna=False)

NaN          838
10.000       369
1.000        146
5.000         58
20.000        32
15.000        21
0.000         19
11.000        12
8.000         11
50.000        10
100.000        8
12.000         8
7.000          7
3.000          4
9.000          4
4.000          3
25.000         3
250.000        3
30.000         3
3000.000       2
22627.000      2
39962.000      2
2.000          2
19500.000      1
11000.000      1
85000.000      1
4307.000       1
89692.000      1
77.000         1
3500.000       1
68485.000      1
5000.000       1
141.000        1
150.000        1
34164.000      1
142.000        1
32084.000      1
81800.000      1
11200.000      1
20768.000      1
4500.000       1
40.000         1
784.000        1
89982.000      1
500.000        1
325.000        1
6100.000       1
196.000        1
6.000          1
60.000         1
497.000        1
99.000         1
281.000        1
Name: km, dtype: int64

In [13]:
cond1 = (df['km'] < 10000)
cond2 = ((df['km'] >= 10000) & (df['km'] < 28000))
cond3 = ((df['km'] >= 28000) & (df['km'] < 50000))
cond4 = (df['km'] >= 50000)

In [14]:
df.loc[cond1,'age'] = df.loc[cond1,'age'].replace('-', 0)
df.loc[cond2,'age'] = df.loc[cond2,'age'].replace('-', 1)
df.loc[cond3,'age'] = df.loc[cond3,'age'].replace('-', 2)
df.loc[cond4,'age'] = df.loc[cond4,'age'].replace('-', 3)

In [15]:
df.groupby('age').km.mean()  # age de km verisi olmayanları dolduramadım.

age
0.0    1647.363
1.0   18035.130
2.0   41748.577
3.0   77450.063
-           NaN
Name: km, dtype: float64

In [ ]:
df["age"].value_counts(dropna=False)

In [16]:
df.groupby(['make_model',"body_type", 'age']).price.describe()  

# burada - olanlar ile 0 araçlarlar arasındaki fiyatlara baktık. Çok yakın olduğundan bunlara 0 verdik.

                                   count      mean       std       min  \
make_model     body_type     age
Audi A1        Compact       0.0 198.000 23277.434  3510.406 14900.000
                             1.0 268.000 18596.041  2659.910 13980.000
                             2.0 161.000 16602.807  2085.384 10999.000
                             3.0 234.000 14532.910  1908.909  9950.000
                             -   178.000 23996.264  3383.852 16220.000
               Coupe         2.0   1.000 15900.000       NaN 15900.000
                             3.0   1.000 13950.000       NaN 13950.000
               Other         0.0   8.000 23826.250  2057.439 21490.000
                             1.0   3.000 16796.667   178.979 16590.000
                             2.0   1.000 23490.000       NaN 23490.000
                             -     1.000 21850.000       NaN 21850.000
               Sedans        0.0 368.000 24158.087  3196.985 15990.000
                             1.0 465.000 18394.938  2588.159 13450.000
                             2.0 266.000 16605.395  2223.979 11600.000
                             3.0 389.000 14466.900  1890.278  8999.000
                             -    50.000 23336.560  3815.326 15980.000
               Station wagon 0.0   2.000 28944.500    77.075 28890.000
                             1.0  11.000 17410.909  2166.031 15750.000
                             2.0   3.000 17613.333  2953.817 14750.000
                             3.0   5.000 14358.000  1276.891 12950.000
               Van           0.0   1.000 29000.000       NaN 29000.000
Audi A2        Off-Road      1.0   1.000 28200.000       NaN 28200.000
Audi A3        Compact       0.0  17.000 29345.471  8767.065 15500.000
                             1.0  29.000 22030.931  4270.469 14500.000
                             2.0  39.000 20489.769  8208.445 13790.000
                             3.0  93.000 15303.796  2256.723 12900.000
                             -     4.000 25582.500  1185.109 24542.000
               Convertible   1.0   3.000 29664.333 23557.901 10893.000
                             2.0   4.000 28562.500  5301.159 20900.000
                             3.0   1.000 20000.000       NaN 20000.000
               Coupe         2.0   1.000 19000.000       NaN 19000.000
                             3.0   3.000 17326.667   583.124 16990.000
               Other         1.0   4.000 23422.500  3548.055 20200.000
                             2.0   4.000 18675.000  1351.851 17650.000
                             3.0   5.000 15970.000  2392.070 12550.000
                             -     3.000 25990.000  1322.876 24490.000
               Sedans        0.0 626.000 24909.898  2354.990 18820.000
                             1.0 709.000 22544.715  5224.410 14250.000
                             2.0 550.000 19980.358  3721.376 10550.000
                             3.0 647.000 16702.832  2900.228 10950.000
                             -    66.000 24395.242  2372.569 19750.000
               Station wagon 0.0  69.000 25219.000  5011.257 17990.000
                             1.0  32.000 21252.594  3201.415  5555.000
                             2.0  72.000 19010.875  1522.622 14590.000
                             3.0  67.000 15739.507  1883.567 11790.000
                             -    42.000 23558.667  1687.726 18980.000
Opel Astra     Compact       0.0  51.000 23056.118  7391.480 16500.000
                             1.0  39.000 14717.538  1266.385 11999.000
                             2.0  55.000 13091.491  1884.243  9999.000
                             3.0  30.000 12023.733  2767.419  8450.000
                             -    10.000 16636.600  1098.445 15816.000
               Coupe         0.0   1.000 29990.000       NaN 29990.000
                             3.0   1.000 14490.000       NaN 14490.000
               Off-Road      1.0   1.000 18590.000       NaN 18590.000
               Other         0.0   9.000 17175.000  1225.566 15490.000
                             1.0  35.000 14681.429   554.644 12900.000
                             2.0  11.000 12059.545  1462.304 10040.000
                             3.0  12.000 10652.417  2438.981  8490.000
               Sedans        0.0 260.000 20528.096  4601.490  6950.000
                             1.0 320.000 15682.544  1794.249  8860.000
                             2.0 249.000 12954.040  2080.899  7800.000
                             3.0 150.000 11899.480  2304.464  6500.000
                             -    74.000 19500.405  3467.240 13929.000
               Station wagon 0.0 237.000 22624.730  5168.016 15285.000
                             1.0 332.000 16882.630  1943.277   255.000
                             2.0 269.000 13093.089  2017.233  8480.000
                             3.0 325.000 11047.557  2526.506  6000.000
                             -    48.000 21232.875  4266.954 15445.000
Opel Corsa     Compact       0.0 476.000 13758.405  2637.068   120.000
                             1.0 353.000 11913.510  2098.742  7499.000
                             2.0 158.000  9683.411  1782.282  6250.000
                             3.0 213.000  8426.765  2065.760  4990.000
                             -    30.000 14188.367  3126.629  9245.000
               Coupe         0.0   3.000 10283.333  1286.792  8800.000
                             2.0   5.000  8718.000  1356.695  7500.000
                             3.0   5.000  7920.000  1478.851  6900.000
               Off-Road      2.0   3.000  8166.667   461.880  7900.000
               Other         0.0  13.000 10728.923  3386.983   331.000
                             1.0  49.000  9706.837  1414.526  8490.000
                             2.0  19.000  8667.895   202.281  8500.000
                             3.0   4.000  9054.750  1463.729  7900.000
                             -     2.000 16600.000   919.239 15950.000
               Sedans        0.0 176.000 12949.898  2584.623  8200.000
                             1.0 281.000 10814.836  1985.520    13.000
                             2.0 199.000  9000.975  1513.124  6200.000
                             3.0 203.000  7985.808  1449.380  4950.000
                             -    16.000 12474.688  2733.915  9990.000
               Transporter   0.0   3.000  9933.333   493.288  9600.000
                             2.0   1.000  7450.000       NaN  7450.000
                             3.0   3.000  5433.333   175.594  5250.000
               Van           3.0   2.000  7900.000     0.000  7900.000
Opel Insignia  Compact       0.0  16.000 35747.625  6580.219 21900.000
                             1.0   2.000 20400.000   707.107 19900.000
                             2.0   4.000 17545.000  3341.262 13490.000
                             3.0   4.000 12375.000  2373.640 10350.000
                             -     1.000 39490.000       NaN 39490.000
               Coupe         2.0   1.000 17094.000       NaN 17094.000
               Off-Road      0.0   2.000 30995.000  3528.463 28500.000
                             3.0   1.000 12750.000       NaN 12750.000
                             -     4.000 32854.750  1387.646 31505.000
               Other         0.0   7.000 28008.429  4775.491 24700.000
                             1.0   7.000 20850.714  2277.232 18480.000
                             2.0  31.000 15860.968  2564.308 10600.000
                             3.0   3.000 14063.333  1314.927 12900.000
               Sedans        0.0 138.000 33401.674  4882.201 22120.000
                             1.0 278.000 20368.583  2439.116 15990.000
                             2.0 245.000 16575.776  3254.280  9900.000
                             3.0 126.000 13411.048  2251.593  8600.000
                             -   113.000 27560.788  5192.396 19902.000
               Station wagon 0.0 287.000 33783.021  4561.027 19900.000
                             1.0 480.000 21973.621  1654.916 17500.000
                             2.0 305.000 17493.898  2614.542  8990.000
                             3.0 434.000 13673.684  2165.299  8290.000
                             -   105.000 30336.314  5340.690 21992.000
               Van           1.0   1.000 20980.000       NaN 20980.000
Renault Clio   Compact       0.0 158.000 11845.614  2823.449  9545.000
                             1.0 134.000 15835.754  4597.178  8990.000
                             2.0  86.000 12484.372  3428.348  6950.000
                             3.0  87.000  9549.011  2732.518  5800.000
                             -    19.000 11810.789  2079.485  9990.000
               Coupe         2.0   1.000 17990.000       NaN 17990.000
               Off-Road      0.0   1.000 17990.000       NaN 17990.000
                             3.0   1.000  7700.000       NaN  7700.000
               Other         0.0  18.000 10558.889   723.113  8690.000
                             1.0  20.000 14979.550  2051.507  9900.000
                             2.0   7.000 10170.000  2794.363  7970.000
                             3.0   6.000  9426.000  2834.963  7500.000
               Sedans        0.0 149.000 11976.403  3434.890  6950.000
                             1.0 308.000 15270.649  5487.220  8480.000
                             2.0 230.000 10121.900  2536.429  6990.000
                             3.0 209.000  9348.115  2769.832  5445.000
                             -    22.000 11390.273  2224.604  8750.000
               Station wagon 0.0  35.000 12717.371  3518.044  6900.000
                             1.0  98.000 11924.622  2977.329  7950.000
                             2.0  99.000 11288.848  2708.793  6000.000
                             3.0  97.000  9437.845  2481.119  5900.000
                             -     8.000 12870.500  2466.880 10890.000
               Transporter   0.0   3.000  9661.333   691.666  9262.000
                             1.0   6.000 10058.500   761.313  8990.000
                             2.0   9.000  8415.556   839.674  6900.000
                             3.0  11.000  7376.364   876.838  5900.000
               Van           1.0   1.000  9900.000       NaN  9900.000
                             2.0   1.000  9400.000       NaN  9400.000
Renault Duster Off-Road      0.0  16.000 13343.000  1625.593 10900.000
                             -    18.000 13129.889  1659.899 10850.000
Renault Espace Compact       0.0   3.000 38830.000  4855.070 33500.000
                             2.0   1.000 23990.000       NaN 23990.000
                             3.0   2.000 19900.000  2828.427 17900.000
               Coupe         0.0   1.000 34140.000       NaN 34140.000
                             1.0   1.000 26994.000       NaN 26994.000
               Off-Road      1.0   2.000 27850.000     0.000 27850.000
                             2.0   5.000 27100.000  4103.657 22500.000
                             3.0   1.000 14900.000       NaN 14900.000
               Other         0.0   1.000 42681.000       NaN 42681.000
                             1.0   2.000 34000.000     0.000 34000.000
                             2.0   2.000 24900.000  4242.641 21900.000
                             3.0   3.000 25463.333  7713.497 17500.000
               Sedans        0.0   1.000 48498.000       NaN 48498.000
                             1.0  13.000 29090.462  3321.812 25490.000
                             2.0   3.000 23863.333   109.697 23800.000
                             3.0   2.000 22449.500  4879.744 18999.000
                             -     2.000 43969.000  4137.989 41043.000
               Station wagon 0.0   9.000 43642.222  4066.795 37900.000
                             1.0  14.000 34301.429  3864.125 28990.000
                             2.0  13.000 27046.846  5245.900 19450.000
                             3.0  52.000 21626.827  2862.987 16900.000
                             -     3.000 45476.667  4746.634 42490.000
               Transporter   0.0   1.000 32700.000       NaN 32700.000
                             1.0   5.000 29297.800  1306.587 27990.000
                             2.0   9.000 23861.000  3464.582 19450.000
                             3.0  37.000 21124.297  3279.229 14999.000
               Van           0.0 218.000 40074.514  8154.729 24200.000
                             1.0 207.000 31947.841  4072.970 23099.000
                             2.0 134.000 26574.478  3427.863 14600.000
                             3.0 199.000 22132.623  3216.032 12614.000
                             -    19.000 39632.316  6866.139 28650.000

                                       25%       50%       75%       max
make_model     body_type     age
Audi A1        Compact       0.0 20503.500 22492.000 26798.500 31990.000
                             1.0 16445.000 16980.000 20950.000 23829.000
                             2.0 15450.000 15850.000 17700.000 22150.000
                             3.0 13407.500 13994.500 15480.000 18900.000
                             -   21515.000 22875.000 27380.000 29181.000
               Coupe         2.0 15900.000 15900.000 15900.000 15900.000
                             3.0 13950.000 13950.000 13950.000 13950.000
               Other         0.0 22490.000 22720.000 25900.000 26900.000
                             1.0 16745.000 16900.000 16900.000 16900.000
                             2.0 23490.000 23490.000 23490.000 23490.000
                             -   21850.000 21850.000 21850.000 21850.000
               Sedans        0.0 21797.500 23800.000 26890.000 37900.000
                             1.0 16321.000 16950.000 20350.000 33900.000
                             2.0 14955.000 15900.000 18000.000 22500.000
                             3.0 13000.000 13950.000 15784.000 19900.000
                             -   20982.500 22345.000 26855.000 29137.000
               Station wagon 0.0 28917.250 28944.500 28971.750 28999.000
                             1.0 15870.000 16480.000 18260.000 21450.000
                             2.0 16095.000 17440.000 19045.000 20650.000
                             3.0 13979.000 13999.000 14440.000 16422.000
               Van           0.0 29000.000 29000.000 29000.000 29000.000
Audi A2        Off-Road      1.0 28200.000 28200.000 28200.000 28200.000
Audi A3        Compact       0.0 22300.000 24900.000 37998.000 41495.000
                             1.0 19999.000 21900.000 22599.000 39959.000
                             2.0 17525.000 18945.000 20780.000 67600.000
                             3.0 13500.000 14900.000 16895.000 24950.000
                             -   25056.500 25250.000 25776.000 27288.000
               Convertible   1.0 16446.500 22000.000 39050.000 56100.000
                             2.0 27350.000 30200.000 31412.500 32950.000
                             3.0 20000.000 20000.000 20000.000 20000.000
               Coupe         2.0 19000.000 19000.000 19000.000 19000.000
                             3.0 16990.000 16990.000 17495.000 18000.000
               Other         1.0 21925.000 22500.000 23997.500 28490.000
                             2.0 17650.000 18275.000 19300.000 20500.000
                             3.0 15300.000 15500.000 18000.000 18500.000
                             -   25490.000 26490.000 26740.000 26990.000
               Sedans        0.0 23885.000 24900.000 26197.500 62900.000
                             1.0 20800.000 21500.000 22900.000 74600.000
                             2.0 18000.000 19400.000 20990.000 55000.000
                             3.0 15110.000 15980.000 17890.000 42500.000
                             -   22944.750 23947.500 26200.000 34738.000
               Station wagon 0.0 23490.000 24980.000 25884.000 63900.000
                             1.0 20650.000 21480.000 22900.000 23800.000
                             2.0 18374.500 18990.000 19621.250 21990.000
                             3.0 14195.000 15900.000 17250.000 18780.000
                             -   22359.750 23590.000 24937.500 26990.000
Opel Astra     Compact       0.0 17490.000 18300.000 29675.000 39433.000
                             1.0 13990.000 14900.000 14990.000 18900.000
                             2.0 11955.000 12636.000 12955.000 19950.000
                             3.0 10111.250 10947.500 14854.250 17750.000
                             -   15890.000 16159.000 16864.500 18599.000
               Coupe         0.0 29990.000 29990.000 29990.000 29990.000
                             3.0 14490.000 14490.000 14490.000 14490.000
               Off-Road      1.0 18590.000 18590.000 18590.000 18590.000
               Other         0.0 16390.000 17390.000 17490.000 18990.000
                             1.0 14495.000 14890.000 14990.000 15300.000
                             2.0 11250.000 11950.000 12700.000 15400.000
                             3.0  9367.250  9490.000 10900.000 14990.000
               Sedans        0.0 17585.000 18665.000 23940.000 32950.000
                             1.0 14537.250 15275.000 17205.000 18990.000
                             2.0 11320.000 12500.000 14900.000 17890.000
                             3.0 10400.000 10950.000 13967.500 15999.000
                             -   16977.000 18354.000 22375.000 28900.000
               Station wagon 0.0 18096.000 19990.000 26950.000 34580.000
                             1.0 15200.000 17355.000 18465.750 18990.000
                             2.0 11850.000 12660.000 14650.000 17890.000
                             3.0  9479.000 10500.000 12000.000 15999.000
                             -   18040.500 20240.000 23777.500 34900.000
Opel Corsa     Compact       0.0 10979.000 14650.000 15942.500 18622.000
                             1.0  9800.000 12750.000 13890.000 15790.000
                             2.0  8500.000  8950.000 11261.250 13990.000
                             3.0  7290.000  7750.000  7950.000 16950.000
                             -   10785.000 15980.000 17035.000 17490.000
               Coupe         0.0  9875.000 10950.000 11025.000 11100.000
                             2.0  7900.000  8500.000  8700.000 10990.000
                             3.0  7200.000  7200.000  7800.000 10500.000
               Off-Road      2.0  7900.000  7900.000  8300.000  8700.000
               Other         0.0 10990.000 10990.000 10995.000 14990.000
                             1.0  8900.000  9500.000  9690.000 13990.000
                             2.0  8500.000  8500.000  8900.000  8900.000
                             3.0  7900.000  8685.000  9839.750 10949.000
                             -   16275.000 16600.000 16925.000 17250.000
               Sedans        0.0 10990.000 11390.000 15427.500 18490.000
                             1.0  9499.000  9900.000 12500.000 15690.000
                             2.0  8299.000  8600.000  8950.000 13900.000
                             3.0  7400.000  7650.000  7900.000 13500.000
                             -   10867.500 11120.000 14883.000 17990.000
               Transporter   0.0  9650.000  9700.000 10100.000 10500.000
                             2.0  7450.000  7450.000  7450.000  7450.000
                             3.0  5350.000  5450.000  5525.000  5600.000
               Van           3.0  7900.000  7900.000  7900.000  7900.000
Opel Insignia  Compact       0.0 34495.000 36345.000 38991.250 49884.000
                             1.0 20150.000 20400.000 20650.000 20900.000
                             2.0 15740.000 17695.000 19500.000 21300.000
                             3.0 10350.000 12125.000 14150.000 14900.000
                             -   39490.000 39490.000 39490.000 39490.000
               Coupe         2.0 17094.000 17094.000 17094.000 17094.000
               Off-Road      0.0 29747.500 30995.000 32242.500 33490.000
                             3.0 12750.000 12750.000 12750.000 12750.000

In [17]:
df['age'].replace('-',0, inplace=True)

In [18]:
df.groupby('age').km.mean()

age
0.000    1647.363
1.000   18035.130
2.000   41748.577
3.000   77450.063
Name: km, dtype: float64

In [19]:
df["age"].value_counts(dropna=False)

1.000    4528
0.000    4435
3.000    3679
2.000    3277
Name: age, dtype: int64

## km

In [20]:
first_looking("km")

column name    :  km
--------------------------------
per_of_nulls   :  % 6.43
num_of_nulls   :  1024
num_of_uniques :  6689
--------------------------------
10.000        1045
NaN           1024
1.000          367
5.000          170
50.000         148
              ...
160542.000       1
20719.000        1
91910.000        1
39860.000        1
57889.000        1
Name: km, Length: 6690, dtype: int64

In [21]:
df.groupby("age").km.mean()

age
0.000    1647.363
1.000   18035.130
2.000   41748.577
3.000   77450.063
Name: km, dtype: float64

In [22]:
df.groupby("age").km.transform("mean")   

# grupby yapsak da dahi transform uygulamadığımızdı df size değişmez. apply da ise değişir.

# transform agg yapmaz ancak agg sonucunu kullanır.

0       77450.063
1       41748.577
2       77450.063
3       77450.063
4       77450.063
           ...
15914    1647.363
15915    1647.363
15916    1647.363
15917    1647.363
15918    1647.363
Name: km, Length: 15919, dtype: float64

In [23]:
df["km"].fillna(df.groupby("age").km.transform("mean"), inplace=True)

In [24]:
df.km.value_counts(dropna=False)

10.000        1045
1647.363       985
1.000          367
5.000          170
50.000         148
              ...
160542.000       1
20719.000        1
91910.000        1
39860.000        1
57889.000        1
Name: km, Length: 6692, dtype: int64

## body type

In [25]:
first_looking("body_type")

column name    :  body_type
--------------------------------
per_of_nulls   :  % 0.38
num_of_nulls   :  60
num_of_uniques :  9
--------------------------------
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [26]:
df.body_type.replace("Other", np.nan, inplace=True)   # other nan çevirdik ve bunları tekrar doldurduk.

In [27]:
df['body_type'].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
NaN               350
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [28]:
df["body_type"].mode()

0    Sedans
dtype: object

In [29]:
df["body_type"].mode()[0]

'Sedans'

In [ ]:
#Step-1
#df["body_type"].fillna(df["body_type"].mode()[0])

#Step-2
#df.loc[df["make_model"]=="Audi A1", "body_type"].fillna(df[df["make_model"]=="Audi A1"]["body_type"].mode()[0])

In [30]:
#Step-3
for group in list(df["make_model"].unique()):
    cond = df["make_model"]==group
    mode = list(df[cond]["body_type"].mode())  
# alttaki kodu eğer araç tekse bunun mode() değerini bulmaz veya body_type boşsa doldurma durumu olmaz ve hata verir.

# bu bug düzeltmek için aşağıdaki kodu yazıyoruz.
    if mode != []:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df[cond]["body_type"].mode()[0])
    else:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df["body_type"].mode()[0])

In [ ]:
df['body_type'].value_counts(dropna=False)

In [31]:
# burada yukarıda kullandığımız func genelleştirdik ve tüm sütunlara uygulanabilir hale getirdik.

def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [32]:
fill_most(df, "make_model", "body_type")

Number of NaN :  0
------------------
Sedans           8005
Station wagon    3678
Compact          3242
Van               817
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## Previous_Owners

In [33]:
first_looking("Previous_Owners")

column name    :  Previous_Owners
--------------------------------
per_of_nulls   :  % 41.71
num_of_nulls   :  6640
num_of_uniques :  5
--------------------------------
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: Previous_Owners, dtype: int64

In [34]:
df["Previous_Owners"].fillna("-", inplace = True)

In [35]:
df["Previous_Owners"].value_counts(dropna=False)

1.0    8294
-      6640
2.0     778
0.0     188
3.0      17
4.0       2
Name: Previous_Owners, dtype: int64

In [36]:
df.groupby(['make_model', 'age', 'Previous_Owners']).km.describe() 

# buradan prev_owner ile ilgili net bir sonuç çıkaramadık. Ancak Duster km düşük olduğundan dolayı ilk sahipleri olabileceğini değerlendiriyorum.

                                       count       mean       std       min  \
make_model     age   Previous_Owners
Audi A1        0.000 0.0              45.000    958.365   815.362     0.000
                     1.0             239.000   3069.543  3460.402     1.000
                     2.0               1.000   3000.000       NaN  3000.000
                     -               521.000   1549.992  2303.800     1.000
               1.000 0.0               1.000  15000.000       NaN 15000.000
                     1.0             496.000  13772.192  8099.461    20.000
                     2.0              14.000  13734.286 10613.039  5000.000
                     -               236.000  13930.462  7544.057     1.000
               2.000 0.0               1.000  68002.000       NaN 68002.000
                     1.0             195.000  23858.369 19666.376    10.000
                     2.0              74.000  20918.946 14313.356  3900.000
                     3.0               1.000  18890.000       NaN 18890.000
                     4.0               1.000  19700.000       NaN 19700.000
                     -               160.000  30300.025 18023.499   200.000
               3.000 0.0               4.000  58176.750  5569.647 50707.000
                     1.0             401.000  54041.192 27128.754  3150.000
                     2.0              82.000  49948.817 18268.135  4381.000
                     3.0               1.000  45000.000       NaN 45000.000
                     -               141.000  57666.525 27893.546  8900.000
Audi A2        1.000 1.0               1.000  26166.000       NaN 26166.000
Audi A3        0.000 0.0              49.000    880.641   823.805     0.000
                     1.0             257.000   1953.462  3715.728     1.000
                     -               521.000   1401.636  6946.583     1.000
               1.000 0.0               5.000  28967.000  8648.989 16749.000
                     1.0             380.000  17260.627 10710.879     1.000
                     2.0              11.000  17966.818  6209.465  7900.000
                     -               381.000  19430.693 11365.016     1.000
               2.000 1.0             351.000  47381.068 30979.305  3277.000
                     2.0              47.000  28973.489 19029.482    15.000
                     -               277.000  41907.440 22179.630    59.000
               3.000 0.0               1.000  64500.000       NaN 64500.000
                     1.0             458.000  94950.721 38584.468 14000.000
                     2.0              53.000  67559.189 27702.965 17000.000
                     3.0               2.000  71800.000 62508.239 27600.000
                     -               304.000  86907.543 32497.991    35.000
Opel Astra     0.000 0.0              12.000    555.871   806.230     0.000
                     1.0             253.000   3601.621  6588.867     2.000
                     2.0               1.000   7700.000       NaN  7700.000
                     -               425.000   1396.621  2349.957     1.000
               1.000 0.0               1.000  30800.000       NaN 30800.000
                     1.0             531.000  21259.041  9582.281    10.000
                     2.0              24.000  19963.458  9864.030   800.000
                     -               171.000  22046.373 14244.300     5.000
               2.000 1.0             354.000  52083.944 34251.398  1300.000
                     2.0              54.000  35318.259 22641.366 12950.000
                     3.0               1.000  62000.000       NaN 62000.000
                     -               178.000  50182.034 25430.913    30.000
               3.000 1.0             349.000  95006.731 41188.743 10700.000
                     2.0              55.000  69682.436 41233.912 10027.000
                     3.0               2.000  60099.500  5090.462 56500.000
                     -               115.000  80905.104 41216.974 11845.000
Opel Corsa     0.000 0.0              12.000    688.568   846.374     0.000
                     1.0             443.000    965.876  2260.185     1.000
                     2.0               2.000  38155.000 53945.176    10.000
                     -               262.000    752.737  1257.332     1.000
               1.000 0.0               1.000  26800.000       NaN 26800.000
                     1.0             481.000  16999.578 11556.127     5.000
                     2.0               9.000  13490.222 11383.933    74.000
                     -               193.000  18643.549 12160.213    10.000
               2.000 0.0               3.000  49100.000 25884.938 19300.000
                     1.0             199.000  39815.648 29811.135    99.000
                     2.0              33.000  30113.121 23258.885  6500.000
                     3.0               1.000  17390.000       NaN 17390.000
                     -               150.000  42240.153 19732.065  7600.000
               3.000 0.0               3.000  59696.333 33778.239 23580.000
                     1.0             203.000  72459.522 39273.363  4900.000
                     2.0              94.000  37111.766 20492.948  1800.000
                     3.0               1.000  29500.000       NaN 29500.000
                     -               129.000  67141.481 32060.103  2461.000
Opel Insignia  0.000 0.0              17.000    681.443   833.024     0.000
                     1.0             164.000   3264.344  3692.036     1.000
                     -               492.000   1824.787  3221.605     1.000
               1.000 1.0             626.000  22607.832  8337.078     5.000
                     2.0               4.000  23690.500  8736.228 12400.000
                     -               138.000  20161.029  8889.385     1.000
               2.000 0.0               1.000  40000.000       NaN 40000.000
                     1.0             367.000  44084.913 31880.869     1.000
                     2.0              37.000  35439.892 14044.585  7120.000
                     3.0               2.000  34712.500  3411.790 32300.000
                     -               182.000  57771.126 35304.032  7092.000
               3.000 1.0             352.000 101329.568 41567.098 10791.000
                     2.0              52.000  80756.192 42208.416 15900.000
                     3.0               2.000  54500.000 17677.670 42000.000
                     -               162.000  79945.926 34684.712 25259.000
Renault Clio   0.000 0.0              24.000    691.568   825.181     0.000
                     1.0             131.000    486.602  1385.034     1.000
                     2.0               5.000    128.000   210.820    15.000
                     -               255.000    975.994  6632.703     1.000
               1.000 1.0             319.000  14182.152 12805.179     1.000
                     2.0              10.000  12032.600  8166.716   100.000
                     -               244.000  17219.343 13719.064     1.000
               2.000 0.0               1.000  86000.000       NaN 86000.000
                     1.0             203.000  38382.451 24314.887   121.000
                     2.0              14.000  24422.786 12362.338  7327.000
                     3.0               1.000  66000.000       NaN 66000.000
                     -               219.000  35509.950 17454.047    20.000
               3.000 0.0               1.000  36750.000       NaN 36750.000
                     1.0             147.000  73502.293 40396.662    10.000
                     2.0              41.000  48350.098 11884.641 20500.000
                     3.0               1.000  59000.000       NaN 59000.000
                     -               223.000  69305.982 33964.880    50.000
Renault Duster 0.000 0.0               1.000   1647.363       NaN  1647.363
                     -                33.000    897.611   784.809   101.000
Renault Espace 0.000 0.0               4.000    439.341   806.602     0.000
                     1.0             100.000   2036.168  4303.042     1.000
                     2.0               1.000   1000.000       NaN  1000.000
                     -               165.000   1225.837  2514.607     1.000
               1.000 1.0             134.000  14453.177 10655.389     1.000
                     2.0               3.000  16383.333 14355.690    50.000
                     -               114.000  14504.312 10848.833     1.000
               2.000 1.0              42.000  43623.071 24245.112 10400.000
                     2.0              37.000  43588.270 11993.517  5600.000
                     3.0               1.000  46000.000       NaN 46000.000
                     -                90.000  40331.033 32747.037     1.000
               3.000 0.0               1.000  91883.000       NaN 91883.000
                     1.0             118.000  79365.805 36296.880  3532.000
                     2.0              20.000  55316.250 27356.183  7300.000
                     3.0               1.000  40000.000       NaN 40000.000
                     4.0               1.000  57000.000       NaN 57000.000
                     -               159.000  73332.057 32702.200  6119.000

                                           25%       50%        75%        max
make_model     age   Previous_Owners
Audi A1        0.000 0.0                10.000  1647.363   1647.363   1647.363
                     1.0                20.000  2500.000   5000.000  18000.000
                     2.0              3000.000  3000.000   3000.000   3000.000
                     -                  11.000  1647.363   1647.363  15500.000
               1.000 0.0             15000.000 15000.000  15000.000  15000.000
                     1.0              6898.000 11317.500  21054.000  35500.000
                     2.0              8000.000 10500.000  13420.500  47000.000
                     -                9227.500 13437.000  19050.000  31877.000
               2.000 0.0             68002.000 68002.000  68002.000  68002.000
                     1.0             11659.500 18950.000  29968.500 148257.000
                     2.0             16089.250 17768.000  20902.500 115900.000
                     3.0             18890.000 18890.000  18890.000  18890.000
                     4.0             19700.000 19700.000  19700.000  19700.000
                     -               18900.000 26001.000  37776.500 100800.000
               3.000 0.0             56176.750 59000.000  61000.000  64000.000
                     1.0             33200.000 51400.000  65500.000 192000.000
                     2.0             42297.250 49351.000  55759.750 129550.000
                     3.0             45000.000 45000.000  45000.000  45000.000
                     -               37000.000 53000.000  75000.000 146140.000
Audi A2        1.000 1.0             26166.000 26166.000  26166.000  26166.000
Audi A3        0.000 0.0                 8.000  1647.363   1647.363   1647.363
                     1.0                10.000    37.000   2444.000  19000.000
                     -                  10.000    27.000   1647.363 127022.000
               1.000 0.0             23494.000 32000.000  35000.000  37592.000
                     1.0              9008.250 17029.500  24190.750  72382.000
                     2.0             15227.500 16000.000  23465.500  27249.000
                     -               13762.000 19000.000  24189.000 136000.000
               2.000 1.0             25659.500 38000.000  61254.500 157544.000
                     2.0             17750.000 24500.000  32327.000  95000.000
                     -               26587.000 37875.000  50811.000 158000.000
               3.000 0.0             64500.000 64500.000  64500.000  64500.000
                     1.0             67020.000 90218.500 122584.000 291800.000
                     2.0             43000.000 68450.000  85112.000 138700.000
                     3.0             49700.000 71800.000  93900.000 116000.000
                     -               61854.500 88285.000 108767.750 217032.000
Opel Astra     0.000 0.0                 3.750    10.000   1647.363   1647.363
                     1.0                25.000  2000.000   5508.000  88000.000
                     2.0              7700.000  7700.000   7700.000   7700.000
                     -                  10.000  1000.000   1647.363  19200.000
               1.000 0.0             30800.000 30800.000  30800.000  30800.000
                     1.0             14654.000 22208.000  28283.500  67500.000
                     2.0             13031.750 19150.000  27238.250  35800.000
                     -               12783.000 21243.000  28914.000  58625.000
               2.000 1.0             27055.500 46000.000  71923.000 188000.000
                     2.0             21379.000 21379.000  49155.000 103209.000
                     3.0             62000.000 62000.000  62000.000  62000.000
                     -               30793.750 43098.500  67000.000 137000.000
               3.000 1.0             66077.000 92740.000 117630.000 260000.000
                     2.0             41750.000 58678.000  87954.500 229500.000
                     3.0             58299.750 60099.500  61899.250  63699.000
                     -               49950.000 75900.000  98361.000 248000.000
Opel Corsa     0.000 0.0                 0.000    12.500   1647.363   1647.363
                     1.0                10.000    10.000    100.000  19200.000
                     2.0             19082.500 38155.000  57227.500  76300.000
                     -                  10.000    12.000   1647.363   7623.000
               1.000 0.0             26800.000 26800.000  26800.000  26800.000
                     1.0              8000.000 15900.000  24000.000  70000.000
                     2.0              5000.000 12526.000  19800.000  30602.000
                     -                9847.000 18310.000  25900.000  59000.000
               2.000 0.0             40650.000 62000.000  64000.000  66000.000
                     1.0             18735.500 41467.000  54251.000 317000.000
                     2.0             14500.000 23831.000  35000.000 116184.000
                     3.0             17390.000 17390.000  17390.000  17390.000
                     -               25712.500 41948.000  55700.000  89000.000
               3.000 0.0             44290.000 65000.000  77754.500  90509.000
                     1.0             40150.000 70000.000  99757.000 173021.000
                     2.0             22650.750 34832.000  48606.000 106820.000
                     3.0             29500.000 29500.000  29500.000  29500.000
                     -               39173.000 63725.000  91000.000 179521.000
Opel Insignia  0.000 0.0                 5.000    10.000   1647.363   1647.363
                     1.0               118.750  1722.681   5000.000  20000.000
                     -                  10.000  1647.363   1647.363  37500.000
               1.000 1.0             16929.250 24498.500  28594.750  70670.000
                     2.0             20776.000 24351.000  27265.500  33660.000
                     -               15268.500 21477.000  25528.250  39525.000
               2.000 0.0             40000.000 40000.000  40000.000  40000.000
                     1.0             21900.000 29382.000  70275.000 180033.000
                     2.0             25400.000 34700.000  47500.000  70000.000
                     3.0             33506.250 34712.500  35918.750  37125.000
                     -               25800.000 48562.000  89000.000 145000.000
               3.000 1.0             72167.000 95000.000 126450.500 232000.000
                     2.0             50210.000 71218.500  97600.000 200000.000
                     3.0             48250.000 54500.000  60750.000  67000.000
                     -               52025.000 76000.000  96862.000 214999.000
Renault Clio   0.000 0.0                10.000    16.000   1647.363   1647.363
                     1.0                10.000    50.000    150.000   9998.000
                     2.0                15.000    15.000     95.000    500.000
                     -                   9.500    10.000   1647.363 105000.000
               1.000 1.0              5000.000 12312.000  19475.000 113392.000
                     2.0              6262.750 11988.500  14785.000  28000.000
                     -                5635.000 17778.500  27500.000  80009.000
               2.000 0.0             86000.000 86000.000  86000.000  86000.000
                     1.0             26255.000 32713.000  46212.000 131494.000
                     2.0             17576.750 23975.000  29000.000  54413.000
                     3.0             66000.000 66000.000  66000.000  66000.000
                     -               21846.000 35500.000  45655.000  84496.000
               3.000 0.0             36750.000 36750.000  36750.000  36750.000
                     1.0             38577.500 70000.000  98000.000 161556.000
                     2.0             49178.000 49178.000  49178.000  93000.000
                     3.0             59000.000 59000.000  59000.000  59000.000
                     -               43692.000 70000.000  93000.000 163500.000
Renault Duster 0.000 0.0              1647.363  1647.363   1647.363   1647.363
                     -                 101.000  1647.363   1647.363   1647.363
Renault Espace 0.000 0.0                 7.500    55.000    486.841   1647.363
                     1.0                15.000    15.000   1647.363  19900.000
                     2.0              1000.000  1000.000   1000.000   1000.000
                     -                  10.000    12.000   1647.363  15000.000
               1.000 1.0              6412.500 15021.000  19460.250  48403.000
                     2.0             11075.000 22100.000  24550.000  27000.000
                     -                6055.750 14478.000  19986.500  62860.000
               2.000 1.0             26744.000 37341.000  55755.000 113100.000
                     2.0             47458.000 49606.000  49606.000  49606.000
                     3.0             46000.000 46000.000  46000.000  46000.000
                     -               20123.750 31343.000  51382.000 240000.000
               3.000 0.0             91883.000 91883.000  91883.000  91883.000
                     1.0             55000.000 76475.000  98375.750 197414.000
                     2.0             42536.750 51972.500  64921.250 148000.000
                     3.0             40000.000 40000.000  40000.000  40000.000
                     4.0             57000.000 57000.000  57000.000  57000.000
                     -               50027.000 68570.000  94000.000 169068.000

In [37]:
df[(df["make_model"]=="Renault Duster") & (df["Previous_Owners"] == "-")]["km"]

14894   1647.363
14895   1647.363
14896    101.000
14897   1647.363
14898    101.000
14899    101.000
14900   1647.363
14901    101.000
14903    101.000
14904   1647.363
14905   1647.363
14906    101.000
14907    101.000
14908   1647.363
14909   1647.363
14910    101.000
14911   1647.363
14912    101.000
14913   1647.363
14914    101.000
14915    101.000
14916    101.000
14917   1647.363
14918   1647.363
14919   1647.363
14920    101.000
14921   1647.363
14922   1647.363
14923    101.000
14924   1647.363
14925    101.000
14926    101.000
14927   1647.363
Name: km, dtype: float64

In [38]:
cond = (df["make_model"]=="Renault Duster") & (df["Previous_Owners"] == "-")
df.loc[cond, "Previous_Owners"] = 0.0

In [39]:
df["Previous_Owners"].value_counts(dropna=False)

1.0    8294
-      6607
2.0     778
0.0     221
3.0      17
4.0       2
Name: Previous_Owners, dtype: int64

In [ ]:
df["Previous_Owners"].replace("-", np.nan, inplace=True)  # önce doldurabildiklerimi doldurduk şimdi kalanları nan yapıp dolduracağız.

In [ ]:
#Step-1
#df.["Previous_Owners"].fillna(method="ffill")

#Step-2
#df.loc[df["age"]==0, "Previous_Owners"].fillna(method="ffill")

In [ ]:
#Step-3

# ffill ve bfill data yapısını çok bozmaz çünkü veri seti sırayla gidiyor çok ekstra durumlar olmadıkça.

for group in list(df["age"].unique()):
    cond = df["age"]==group
    df.loc[cond, "Previous_Owners"] = df.loc[cond, "Previous_Owners"].fillna(method="ffill").fillna(method="bfill")
# yukarıdakinin sonrasında boş kalan yerler için kullandık. burada oluşan bug düzeltmek için. Mesela A1 bu durumda tek olduğundan sorun oluşturdu.
df["Previous_Owners"] = df["Previous_Owners"].fillna(method="ffill").fillna(method="bfill")

In [40]:
df["Previous_Owners"].value_counts(dropna=False)

1.0    8294
-      6607
2.0     778
0.0     221
3.0      17
4.0       2
Name: Previous_Owners, dtype: int64

In [ ]:
# Yukarıdaki func genelleştirmek için oluşturduğumuz func.

def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [41]:
fill_prop(df, "age", "Previous_Owners")

NameError: name 'fill_prop' is not defined

## Warranty

In [ ]:
first_looking("Warranty")

In [ ]:
df["Warranty"].fillna("-", inplace = True)

In [ ]:
df.groupby(['make_model', 'age', 'Warranty']).price.describe()

In [ ]:
df.groupby(["make_model","Warranty"]).price.describe().sort_values(by = ["make_model", "mean"], ascending = False)

##### There are too many nan values and when we analyzed these nan values according to the km, age and make_model columns, we decided that this column does not have healthy data.

In [ ]:
df.drop("Warranty", axis=1, inplace=True)

## vat

In [ ]:
first_looking("vat")

There is no relation between vat and other columns. So we can use ffill

In [ ]:
df.vat.fillna(method="ffill", inplace = True)

In [ ]:
df.vat.value_counts(dropna=False)

## Body_Color

In [ ]:
first_looking("Body_Color")

In [ ]:
df["Body_Color"].fillna("-", inplace = True)

In [ ]:
df["Body_Color"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", 'Body_Color']).price.describe()

In [ ]:
df.drop("Body_Color", axis=1, inplace=True)

### Paint Type

In [ ]:
first_looking("Paint_Type")

In [ ]:
df["Paint_Type"].fillna("-", inplace = True)

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", "age", 'Paint_Type']).price.describe()

In [ ]:
df.groupby(["make_model", "body_type", 'Paint_Type']).price.describe().sort_values(by = ["make_model", "body_type", "mean"], ascending = False)

In [ ]:
df["Paint_Type"].replace("-", np.nan, inplace = True)

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
#Step-1
#df.["Paint_Type"].fillna(method="ffill")

#Step-2
#df.loc[df["age"]==0, "Paint_Type"].fillna(method="ffill")

#Step-3
#for group in list(df["make_model"].unique()):
#    cond = df["make_model"]==group
#    df.loc[cond, "Paint_Type"] = df.loc[cond, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")
#df["Paint_Type"] = df["Paint_Type"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Step-4
for group1 in list(df["make_model"].unique()):
    for group2 in list(df["body_type"].unique()):
        cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
        df.loc[cond2, "Paint_Type"] = df.loc[cond2, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")
                
for group1 in list(df["make_model"].unique()):
    cond1 = df["make_model"]==group1
    df.loc[cond1, "Paint_Type"] = df.loc[cond1, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")            
           
df["Paint_Type"] = df["Paint_Type"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
def fill_ffill(df, group_col1, group_col2, col_name):
    
    for group1 in list(df[group_col1].unique()):
        for group2 in list(df[group_col2].unique()):
            cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
            df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
    for group1 in list(df[group_col1].unique()):
        cond1 = df[group_col1]==group1
        df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")

In [ ]:
fill_ffill(df, "make_model", "body_type", "Paint_Type")

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

### Type

In [ ]:
first_looking("Type")

In [ ]:
df.Type.fillna("-", inplace=True)

In [ ]:
df['Type'].value_counts(dropna=False)

In [ ]:
df.groupby(["Type", "make_model", "age"]).km.describe()

In [ ]:
cond1 = (df['make_model'] == "Audi A3") & (df["age"] == 0)
cond2 = (df['make_model'] == "Audi A3") & (df["age"] == 3)

In [ ]:
df.loc[cond1,'Type'] = df.loc[cond1,'Type'].replace('-','New')
df.loc[cond2,'Type'] = df.loc[cond2,'Type'].replace('-','Used')

In [ ]:
df['Type'].value_counts(dropna=False)

## Inspection new

In [ ]:
first_looking("Inspection_new")

In [ ]:
df["Inspection_new"].fillna("-", inplace=True)

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", "age", "Inspection_new"]).price.describe()

In [ ]:
df["Inspection_new"].replace("-", "No", inplace=True)

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

In [ ]:
df["Inspection_new"].replace(["Yes", "No"], [1,0], inplace = True) # just replace mentioned values
#df["Inspection_new"].map({"Yes":1, "No":0}, inplace=True) # if there is value apart from mention in map function,
                                                           # that value is replaced with Nan value.

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

## Upholstery_type

In [ ]:
first_looking("Upholstery_type")

In [ ]:
df["Upholstery_type"].replace(["Velour", "alcantara", "Part leather", "Full leather"], ["Cloth", "Part/Full Leather", "Part/Full Leather", "Part/Full Leather"], inplace=True)

In [ ]:
df["Upholstery_type"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "Upholstery_type", "ffill")

## Upholstery_color

In [ ]:
df.drop("Upholstery_color", axis=1, inplace=True)

### Nr. of Doors

In [ ]:
first_looking("Nr_of_Doors")

In [ ]:
fill(df, "make_model", "body_type", "Nr_of_Doors", "mode")

### Nr. of Seats

In [ ]:
first_looking("Nr_of_Seats")

In [ ]:
fill(df, "make_model", "body_type", "Nr_of_Seats", "mode")

### Cylinders

In [ ]:
first_looking("Cylinders")

In [ ]:
fill(df, "make_model", "body_type", "Cylinders", "mode")

In [ ]:
df.drop("Cylinders", axis = 1, inplace = True)

### Drive chain

In [ ]:
first_looking("Drive_chain")

In [ ]:
df["Drive_chain"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "Drive_chain"]).price.describe()

In [ ]:
cond = (df['make_model'] == "Renault Duster") & (df["body_type"] == "Off-Road")

In [ ]:
df.loc[cond,'Drive_chain'] = df.loc[cond,'Drive_chain'].replace('-','4WD')

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
df["Drive_chain"] = df["Drive_chain"].replace('-', np.nan)

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "Drive_chain", "mode")

### Emission Class

In [ ]:
first_looking("Emission_Class")

In [ ]:
df["Emission_Class"].fillna("-", inplace=True)

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "age", "Fuel", "Emission_Class"]).price.describe()

In [ ]:
df["Emission_Class"].replace("-", np.nan, inplace=True)

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [ ]:
fill(df, "age", "Fuel", "Emission_Class", "ffill")

In [ ]:
df.drop("Emission_Class", axis=1, inplace=True)

### Gears

In [ ]:
first_looking("Gears")

In [ ]:
df["Gears"].fillna("-", inplace=True)

In [ ]:
df["Gears"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", "Gearing_Type", "Gears"]).price.describe()

In [ ]:
df["Gears"].replace([1,2,3,4,9,50,"-"], np.nan, inplace=True)

In [ ]:
df["Gears"].value_counts(dropna=False)

In [ ]:
for group1 in list(df["make_model"].unique()):
    for group2 in list(df["body_type"].unique()):
        for group3 in list(df["Gearing_Type"].unique()):
            cond1 = df["make_model"]==group1
            cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
            cond3 = (df["make_model"]==group1) & (df["body_type"]==group2) & (df["Gearing_Type"]==group3)
            mode1 = list(df[cond1]["Gears"].mode())
            mode2 = list(df[cond2]["Gears"].mode())
            mode3 = list(df[cond3]["Gears"].mode())
            if mode3 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond3]["Gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond2]["Gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond1]["Gears"].mode()[0])
            else:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df["Gears"].mode()[0])

In [ ]:
df["Gears"].value_counts(dropna=False)

### hp_kW

In [ ]:
first_looking("hp_kW")

In [ ]:
df["hp_kW"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","hp_kW"]).price.describe()

In [ ]:
df["hp_kW"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "hp_kW", "mode")

## Displacement_cc

In [ ]:
first_looking("Displacement_cc")

In [ ]:
df["Displacement_cc"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","Displacement_cc"]).price.describe()

In [ ]:
df["Displacement_cc"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Displacement_cc", "mode")

## Weight_kg

In [ ]:
first_looking("Weight_kg")

In [ ]:
df["Weight_kg"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","Weight_kg"]).price.describe()

In [ ]:
df["Weight_kg"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Weight_kg", "mode")

## CO2 Emission

In [ ]:
first_looking("CO2_Emission")

In [ ]:
df["CO2_Emission"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","CO2_Emission"]).price.describe()

In [ ]:
df["CO2_Emission"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "CO2_Emission", "median")

### Comfort_Convenience

In [ ]:
first_looking("Comfort_Convenience")

In [ ]:
fill(df, "make_model", "body_type", "Comfort_Convenience", "mode")

### Entertainment_Media

In [ ]:
first_looking("Entertainment_Media")

In [ ]:
fill(df, "make_model", "body_type", "Entertainment_Media", "mode")

### Extras

In [ ]:
first_looking("Extras")

In [ ]:
fill(df, "make_model", "body_type", "Extras", "mode")

### Safety_Security

In [ ]:
first_looking("Safety_Security")

In [ ]:
fill(df, "make_model", "body_type", "Safety_Security", "mode")

## cons_comb

In [ ]:
first_looking("cons_comb")

In [ ]:
cons_comb = (df["cons_country"] + df["cons_city"])/2

In [ ]:
df["cons_comb"] = df["cons_comb"].fillna(cons_comb)

In [ ]:
df["cons_comb"].value_counts(dropna=False)

In [ ]:
df["cons_comb"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","cons_comb"]).price.describe()

In [ ]:
df["cons_comb"].replace([0.0, 1.0, 1.2, 1.6, 10, 11, 13.8, 32.0, 33.0, 38.0, 40.0, 43.0, 46.0, 50.0, 51.0, 54.0, 55.0, "-"], np.nan, inplace=True)

In [ ]:
df["cons_comb"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "cons_comb", "median")

## cons_country

In [ ]:
df.drop("cons_country", axis = 1, inplace = True)

## cons_city

In [ ]:
df.drop("cons_city", axis = 1, inplace = True)

## End of this phase

In [ ]:
df.shape

In [ ]:
df.isnull().sum()/df.shape[0]*100

In [ ]:
df.to_csv("filled_scout.csv", index=False)